<div class="container mt-5">
    
    <div class="card" style="padding: 20px;">
        <div class="row g-8"> 
            <div class="col text-center p-2 mb-3 bg-light"> <span class="fs-3">Login</span> 
             
            </div> 
        </div>
        <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
            <input type="text" ngModel name="userName" id="userName" placeholder="Enter your username"
            class="form-control mb-3" >

            <input type="password" ngModel name="userPassword" id="userPassword" placeholder="Enter your password" class="form-control mb-3">
            <br>
            <input type="submit" value="Login" class="btn btn-outline-primary form-control rounded-0">
        
            <br> <br>
            <span > Don't have Account? </span><a routerLink="/registration" routerLinkActive="active">Register</a>
        </form>
    </div>
</div>