
<div class="container"> 
    <nav> 
        <div class="left-side"> 
            <nav aria-label="breadcrumb"> 
                <li> 
                    <a routerLink="/home" routerLinkActive="active" class="nav-link">Home</a> 
                </li> 
            </nav> 
            <nav aria-label="breadcrumb"> 
                <li> 
                    <a routerLink="/categories" routerLinkActive="active" class="nav-link">AllCategories</a> 
                </li> 
            </nav> 
            <nav aria-label="breadcrumb"> 
                <li> 
                    <a routerLink="/book-management" routerLinkActive="active" class="nav-link">Book Management</a> 
                </li> 
            </nav> 
            <nav aria-label="breadcrumb"> 
                <li> 
                    <a routerLink="/category-management" routerLinkActive="active" class="nav-link">Category Management</a> 
                </li> 
            </nav> 
            
            <nav aria-label="breadcrumb"> 
                <li> 
                    <a routerLink="/reports" routerLinkActive="active" class="nav-link">Reports</a> 
                </li> 
            </nav> 
            <nav aria-label="breadcrumb"> 
                <li> 
                    <a routerLink="/feedback" routerLinkActive="active" class="nav-link"> Student Feedbacks</a> 
                </li> 
            </nav> 
           
        </div> 
    </nav> 
    <div class="bk"> 
        <img [src]="myimage" alt="" width="100%"> 
 
    </div> 
</div>