<!-- <div class="container mt-5">
    <div class="card text-center" style="padding: 20px; color: red;">
        <h1>You are User</h1>
        <h1>{{message}}</h1>
    </div>
</div> -->

<div class="c">

<div class="container">
    <div class="left-side">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb" style="color: black;">
                <a class="nav-link active" aria-current="page" routerLink="/home">Home</a>
            </ol>
        </nav>
        <!-- <nav aria-label="breadcrumb">
            <ol class="breadcrumb" style="color: black;">
                <a class="nav-link active" aria-current="page" routerLink="/user">Dashboard</a>
            </ol>
        </nav> -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb" style="color: black;">
                <a class="nav-link active" aria-current="page" routerLink="/categories">All Categories</a>
            </ol>
        </nav>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb" style="color: black;">
                <a class="nav-link active" aria-current="page" routerLink="/issuedbook">My Issued Books</a>
            </ol>
        </nav>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb" style="color: black;">
                <a class="nav-link active" aria-current="page" routerLink="/user">My Account</a>
            </ol>
        </nav>
        
    </div>

    <div class="right-side">
        <img class="user-image" [src]="library" alt="Image">
    </div>
</div>


</div>